  <div class="container">
    <div class="row mt-4">
      <ng-container class="col-12 col-sm-6 col-md-3"  *ngFor="let student of students; index as i">
        <div class="card m-4 pointer">
          <div class="card-header">
            {{student.id}}
          </div>
          <img class="card-img-top mt-3" src="{{student.photo}}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text mt-0">{{student.name}}</p>
            <footer class="text-muted">{{student.major}}</footer>
          </div>
        </div>
      </ng-container>
    </div>
</div>