<div *ngFor="let cita of dates">
    <div *ngIf="!cita.finished" class="card">
        <div class="card-header" [ngClass]="{'bg-success': comparar(cita)===0 , 'bg-danger': comparar(cita)===2 , 'bg-warning': comparar(cita)===1 , 'bg-info': comparar(cita)===-1}">
            <span class="">{{cita.date}}</span>
        </div>
        <div class="card-body">
            <img style="float: left; margin-right: 15px;" [src]="cita.student.photo" [alt]="cita.student.id" height="150px" width="150px">
            <aside>
                <h5 class="card-title">Área: {{cita.location}}</h5>
                <p class="card-text">Nota: <br> {{cita.notes}}</p>
                <button class="btn btn-primary">Ver Cita</button>
            </aside>
        </div>
    </div>
    <br>

</div>

<div *ngFor="let cita of dates">
    <div *ngIf="cita.finished" class="card">
        <div class="card-header" [ngClass]="{'bg-success': comparar(cita)===0 , 'bg-danger': comparar(cita)===2 , 'bg-warning': comparar(cita)===1 , 'bg-info': comparar(cita)===-1}">
            <span class="">{{cita.date}}</span>
        </div>
        <div class="card-body">
            <img style="float: left; margin-right: 15px;" [src]="cita.student.photo" [alt]="cita.student.id" height="150px" width="150px">
            <aside>
                <h5 class="card-title">Área: {{cita.location}}</h5>
                <p class="card-text">Nota: <br> {{cita.notes}}</p>
                <button class="btn btn-primary">Ver Cita</button>
            </aside>
        </div>
    </div>
    <br>

</div>