$primary: #FC6363;
$secondary: #3B4B7C;
$success:#9AB4E5;
$info: #A4D3A5;
$accent: #4B7A54;
$white: #FFFFFF;
$burgundy: #80011F;
$shadow: #000000;

$gradient: linear-gradient(to bottom right, $secondary, $success,$info);

