$primary: #FC6363;
$secondary: #3B4B7C;
$success:#9AB4E5;
$info: #A4D3A5;
$accent: #4B7A54;
$white: #FFFFFF;
$shadow: #000000;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
//   success: $green,
//   info: $cyan,
//   warning: $amber,
//   danger: $deep-orange,
//   dark: $gray-700
);
