@import "./assets/css/variables.scss";

header{
    background-color: $secondary !important;
    a{
        color: $white !important;
        text-decoration: none !important;
    }
}

.primary-background{
    background-color: $primary;
    color: $white !important;
}
.secondary-background{
    background-color: $secondary;
    color: $white !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
    cursor: pointer;
}
